background{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

canvas{width: 60;


}

.typewriter {
  text-align: center;
  overflow: hidden; 
  border-right: .15em solid black; 
  color: black;
  font-family: Courier New;
  top:30%;
  font-size: 20px;
  white-space: nowrap; 
  letter-spacing: .20em;
  line-height: 3;
  animation: 
    typing 5s steps(30, end)
}

/* The typing effect */
@keyframes typing {
  from { width:0% }
  to { width: 100% }
}


